.App {
  text-align: center;
}

input {
  margin-bottom: 15px;
}

.wholeForm {
  max-width: 20vw;
  background-color: bisque;
  border: 1px solid black;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset -3px -3px black;
  word-wrap: break-word;
}

.wholeForm button {
  margin-top: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}